OPENAI_API_KEY="YOUR API KEY HERE"

PINECONE_API_KEY="YOUR API KEY HERE"

PINECONE_INDEX="index-name"   # name whatever you want

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="YOUR API KEY HERE"
LANGCHAIN_PROJECT="tutorial"